:root {
  --primary: #ee5628;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #ee5628;
}

.navlink {
  color: var(--light);
  font-size: 20px;
  font-weight: 200;
}

.navlink: {
  color: var(--light);
}

.navlink:active {
  color: var(--light);
}

